<div class="splash">
    <nav>
        <div class="nav-item">
            <a href="about.html"> 
                <i class="fas fa-question nav-icon"></i>
                <span class="nav-text">About</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="media.html"> 
                <i class="far fa-image nav-icon"></i>
                <span class="nav-text">Media</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="publications.html"> 
                <i class="far fa-file-alt nav-icon"></i>
                <span class="nav-text">Publications</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="https://github.com/UMass-Boston-WaveLab"> 
                <i class="fab fa-github nav-icon"></i>
                <span class="nav-text">GitHub</span>
            </a>
        </div>
    </nav>           
    <div id="splash-text">
        {{ page.title }}
    </div>
</div>