<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" type="text/css" href="css/post.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:400,600,600i">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">